<html>
	<head>
		<title>Chat</title>
		<style type="text/css">
			input {display: block;}
			ul {list-style: none;}

			body {
				background-color: gainsboro;
			}
			.pult-button {
				width: 95%;
				height: 95%;
				font-size: 900%;
				background-color: cadetblue;
				margin-bottom: -20px;
				border: aliceblue;
			}
			.centered {
				position: fixed;
				top: 50%;
				left: 50%;
				/* bring your own prefixes */
				-webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
				transform: translate(-50%, -50%);
			}
			.red-font {
				font-weight: bold;
				color: red;
			}
		</style>
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	</head>
	<body>
	<form class="chat-form" action="post" id="chatbox">
		<button id="pult-button" class="pult-button centered"></button>
	</form>
		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script type="text/javascript">
			$(function() {
				if (!(Notification.permission == "granted")) {
					Notification.requestPermission(function (permission) {
						if (permission === "granted") {
							console.log("permission granted");
						}
					});
				}
				var socket = null;
				$('#chatbox').submit(function () {
					if (!socket) {
						alert("Fehler: Keine Socket Verbindung zum Chatserver");
						return false;
					}
					socket.send(JSON.stringify({"Message": "REDNER: Bereit machen ein Video abzuspielen!"}) );
					window.state.setState(2);
					return false;
				});
				if (!window["WebSocket"]) {
					alert("Fehler: Der Browser unterstützt keine Websockets");
				} else {
					socket = new WebSocket("ws://{{.Host}}/room");
					window.state =  {
						_state : 0,
						_button: $("#pult-button"),
						setState: function (state) {
							this._state = state;
							this._stateMaschine();
						},
						_stateMaschine: function () {
							//@todo: when ES6 is ready to be used, here should be constants instead of Numbers
							switch(parseInt(this._state)) {
								case 1:
									console.log("State 1");
									this._button.text("Video bereit").removeAttr("disabled");
									socket.send(JSON.stringify({"Message": "ClientCode002: regie Status 1"}));
									break;
								case 2:
									console.log("State 2");
									this._button.text("Start Info erteilt").addClass("red-font").prop("disabled", "disabled");
									socket.send(JSON.stringify({"Message": "ClientCode002: regie Status 2"}));

									// this is in setTimeout different so have to save it in the "closure" variable
									var self = this;
									window.setTimeout(function() {
										self.setState(0);
									}, 3000);
									break;
								default:
									console.log("default");
									this._button.prop("disabled", "disabled").text("").removeClass("red-font");
									socket.send(JSON.stringify({"Message": "ClientCode002: regie Status 0"}));

									break;
							}
						},
					};
					socket.onclose = function () {
						alert("Verbindung zum Chatserver unterbrochen");
					};
					socket.onmessage = function (event) {
						var msg = eval("("+event.data+")");
						console.log(msg);
						// https://regex101.com/r/fQ3uU0/1
						var matches = msg.Message.match(/^ClientCode(\d+): (\w\D\S+) (\w\D\S+) (\d)/);
						console.log(matches);
						if (matches != null && matches[1] == "001" && matches[2] == "pult") {
							switch (matches[3]) {
							case "Status":
								window.state.setState(matches[4]);
								break;
							}
						}
					};
					socket.onopen = function (ee) {
						window.state.setState(0);
						alert("Verbingund hergestellt");
					};
				}
			});
		</script>
	</body>
</html>	